In [1]:
import tensorflow as tf
import pandas as pd

In [3]:
# prepare data
(inde, de), _ = tf.keras.datasets.mnist.load_data()
print(inde.shape, de.shape)

inde = inde.reshape(60000, 28, 28, 1)
de = pd.get_dummies(de)
print(inde.shape, de.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [5]:
# make model
X = tf.keras.layers.Input(shape=[28, 28, 1])
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [6]:
# fit model
model.fit(inde, de, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 13s 3ms/step - loss: 0.8762 - accuracy: 0.8786
Epoch 2/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0965 - accuracy: 0.9750
Epoch 3/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0624 - accuracy: 0.9832
Epoch 4/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0466 - accuracy: 0.9871
Epoch 5/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0344 - accuracy: 0.9906
Epoch 6/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0303 - accuracy: 0.9925
Epoch 7/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0248 - accuracy: 0.9933
Epoch 8/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0209 - accuracy: 0.9943
Epoch 9/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0180 - accuracy: 0.9951
Epoch 10/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0226 - accuracy: 0.9951

In [7]:
# use model
pred = model.predict(inde[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [8]:
de[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [9]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 20, 20, 6)         456
_________________________________________________________________
flatten_1 (Flatten)          (None, 2400)              0
_________________________________________________________________
dense_2 (Dense)              (None, 84)                201684
_________________________________________________________________
dense_3 (Dense)              (None, 10)                850
=================================================================
Total params: 203,068
Trainable params: 203,068
Non-trainable params: 0
_________________________________________________________________

학습량이 상당히 늘어난 모습을 확인할 수 있다.