In [1]:
import tensorflow as tf
import pandas as pd

# Use reshape

In [4]:
# prepare data
(inde, de), _ = tf.keras.datasets.mnist.load_data()
print(inde.shape, de.shape)

inde = inde.reshape(60000, 784)
de = pd.get_dummies(de)
print(inde.shape, de.shape)

(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

In [5]:
# make model
X = tf.keras.layers.Input(shape=[784])
H = tf.keras.layers.Dense(84, activation='swish')(X)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

**특징 자동 추출기**
10개의 분류를 만들기 위해서 히든레이어를 통해 84개의 특징을 자동으로 찾았다고 볼 수 있음.

In [6]:
# fit model
model.fit(inde, de, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 5s 2ms/step - loss: 7.7031 - accuracy: 0.7846
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5945 - accuracy: 0.9087
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4417 - accuracy: 0.9294
Epoch 4/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3967 - accuracy: 0.9394
Epoch 5/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3838 - accuracy: 0.9422
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3718 - accuracy: 0.9435
Epoch 7/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3628 - accuracy: 0.9478
Epoch 8/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3410 - accuracy: 0.9514
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3328 - accuracy: 0.9544
Epoch 10/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3557 - accuracy: 0.9542

In [9]:
# use model
pred = model.predict(inde[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [10]:
de[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

# Use Flatten

In [12]:
# prepare data
(inde, de), _ = tf.keras.datasets.mnist.load_data()
print(inde.shape, de.shape)

de = pd.get_dummies(de)
print(inde.shape, de.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [13]:
# make model
X = tf.keras.layers.Input(shape=[28, 28])
H = tf.keras.layers.Flatten()(X)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [14]:
# fit model
model.fit(inde, de, epochs=5)

Epoch 1/5
1875/1875 [==============================] - 4s 2ms/step - loss: 5.7280 - accuracy: 0.7838
Epoch 2/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.6030 - accuracy: 0.9041
Epoch 3/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4712 - accuracy: 0.9278
Epoch 4/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4137 - accuracy: 0.9332
Epoch 5/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3774 - accuracy: 0.9446