In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
(inde, de), _ = tf.keras.datasets.mnist.load_data()
inde = inde.reshape(60000, 28, 28, 1)
de = pd.get_dummies(de)
print(inde.shape, de.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
(60000, 28, 28, 1) (60000, 10)

In [3]:
# make model, CNN
X = tf.keras.layers.Input(shape=[28, 28, 1])
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.MaxPool2D()(H)
H = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.MaxPool2D()(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)

model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [4]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 24, 24, 3)         78
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 12, 12, 3)         0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 8, 8, 6)           456
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 4, 4, 6)           0
_________________________________________________________________
flatten (Flatten)            (None, 96)                0
_________________________________________________________________
dense (Dense)                (None, 84)                8148
_________________________________________________________________
dense_1 (Dense)              (None, 10)                850
=================================================================
Total params: 9,532
Trainable params: 9,532
Non-trainable params: 0
_________________________________________________________________

In [5]:
model.fit(inde, de, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 11s 3ms/step - loss: 3.3644 - accuracy: 0.7642
Epoch 2/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.1357 - accuracy: 0.9604
Epoch 3/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0989 - accuracy: 0.9695
Epoch 4/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0823 - accuracy: 0.9749
Epoch 5/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0756 - accuracy: 0.9777
Epoch 6/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0697 - accuracy: 0.9794
Epoch 7/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0640 - accuracy: 0.9804
Epoch 8/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0638 - accuracy: 0.9807
Epoch 9/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0625 - accuracy: 0.9809
Epoch 10/10
1875/1875 [==============================] - 5s 3ms/step - loss: 0.0618 - accuracy: 0.9813

In [7]:
pred = model.predict(inde[0:5])
pd.DataFrame(pred).round(1)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.1  0.0  0.9  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [9]:
de[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1